.card-container{
  margin: 40px;
}

.cards-section {
  /* background: linear-gradient(135deg, #1e1e2f, #2d2d44); */
  background:black;

    /* min-height: 100vh; */
  }
  
  .glass-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .glass-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  }
  
  .card-img-thumb {
    
    height:300px;
    border-radius: 20px;
    object-fit:cover;
    
  
  }
  
  .gradient-btn {
    /* background: linear-gradient(to right, #00c6ff, #0072ff); */
    background: linear-gradient(to right, #040e11, #0f1011);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.8rem;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .gradient-btn:hover {
    background: linear-gradient(to right, #f7f8f9, #ffffff);
    transform: scale(1.05);
    color: black;
  }
  
.card-price{
  font-size: 2.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card-title{
  font-size: 2rem;
}

.card-text{
  font-size: 1.5rem;
}




